.new-tweet {
  text-align: left;
}

#tweet-text {
  border: none;
  background-color: inherit;
  resize: none;
  display: block;
  width: 100%;
  border-bottom: 4px solid #545149;
  margin: 0.5em 0;
}

form label {
  font-weight: 600;
}

form div {
  display: flex;
  justify-content: space-between;
}

form div button {
  background-color: #4056A1;
  color: white;
  font-family: "Bungee";
  border: none;
  padding: 5px 10px;
}

.counter {
  font-family: "Bungee";
}

.exceed-count {
  color: red;
}

textarea:focus {
  outline: 0;
}

.tweet {
  display: flex;
  flex-direction: column;
  border: 4px solid #545149;
  padding: 0.5em;
  margin: 2em 0;
}

.tweet header, .tweet footer{
  display: flex;
  justify-content: space-between;
  padding: 0 0.5em;
}

.tweet p {
  text-align: left;
  padding:0.75em 0.5em 1.5em;
  border-bottom: 4px solid #545149;
  font-weight: 600;
}

.tweet footer {
  font-size: 0.6em;
}

.tweet .username {
  font-weight: 600;
  color: lightgray;
}

.tweet footer .icons {
  color: #4056A1;
  display: flex;
  width: 8%;
  justify-content: space-around;
}

.tweet:hover {
  box-shadow: 8px 8px 2px 1px lightgray;
}

.fa-flag:hover, .fa-retweet:hover, .fa-heart:hover {
  color: goldenrod;
}